@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

/* login styling */
.bg-blue-pv {
    background-color: #38B6FF;
}

button .bg-yellow-pv {
    background-color: #FAAE1D;
}

.btn-custom {
    background-color: #FAAE1D;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #C89414;
    /* Warna saat hover */
}

.btn-custom:focus {
    outline: none;
    /* Menghilangkan outline default */
    box-shadow: 0 0 0 4px rgba(250, 174, 29, 0.5);
    /* Fokus efek dengan warna setengah transparan */
}